.dashboard {
  min-height: 100vh;
  background-color: #f3f4f6;
  padding: 2.5rem 1.5rem;
  padding-bottom: 1rem;
  font-family: 'Raleway', sans-serif;
//   font-family: 'Segoe UI', sans-serif;

  .title {
    font-size: 3rem;
    font-weight: 700;
    color: #1f2937;
    padding-top: 0 rem;
    margin-bottom: 0.25rem;
    text-align: center;
  }

  .subtitle {
    color: #6b7280;
    margin-bottom: 1.5rem;
    font-size: medium;
    text-align: center;
    
  }

  .addButton {
    background-color: #4198de;
    color: white;
    padding: 0.5rem 1rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 0.375rem;
    margin-bottom: -0.5rem;
    border: none;
    width: fit-content;
    padding-left: 2rem;
    padding-right:2rem;
    cursor: pointer;
    margin-left: 44rem;
    transition: background-color 0.2s;

    &:hover {
      background-color: #4198de;
    }
  }

  .tabs {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    overflow-x: auto;
    

    button {
      padding: 0.5rem 1rem;
      border-radius: 0.375rem;
      border: 1px solid #d1d5db;
      background-color: white;
      color: #1f2937;
      cursor: pointer;
      font-size: medium;
      white-space: nowrap;
      padding-left: 7rem;
      padding-right: 7rem;
      padding-top: 1rem;
      padding-bottom: 1rem;;

      &.active {
        background-color: #4198de;
        color: white;
        border-color: transparent;
      }
    }
  }

  .classList {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    padding-bottom: 30rem;
    padding-right: 3rem;

    h2 {
      font-size: 2rem;
      padding-left: 2rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .noClasses {
      color: #6b7280;
      padding-left: 2rem;
      font-size: medium;
    }

    .classCard {
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #f9fafb;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .classInfo {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    h3 {
      font-size: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-weight: 600;
      color: #111827;
    }

    p {
      font-size: 1.5rem;
      color: #1b1b1b;
    //   margin: 0;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
  .viewBtn{
    background-color: green;
    color: white;
    border: none;
    margin-right: -62rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.25rem;
    border-radius: .375rem;
    cursor: pointer;
    width: fit-content;
    transition: background-color 0.2s ease;

  }
  .deleteBtn {
    background-color: #ef4444;
    color: white;
    border: none;
    // padding: 0.5rem 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.25rem;
    border-radius: .375rem;
    cursor: pointer;
    width: fit-content;
    transition: background-color 0.2s ease;
  }
}

  }
}