.container {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  border-radius: 2px;
  width: 100%;
  padding: 3rem 4rem;

  border-radius: 3%;

  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);

  box-sizing: border-box;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

}


.h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #222;
  text-align: left;
  font-family: 'Raleway', sans-serif;

}

// p {
//   margin-bottom: 2rem;
//   color: #666;
//   font-size: 1.4rem;
// }

.label {
  display: block;
  margin-top: 1rem;
  font-weight: 600;
  color: #333;
  font-family: 'Raleway', sans-serif;
}


.input,
.textarea,
.select {
  width: 100%;
  margin-top: 0.5rem;
  padding: 1rem;
  padding-right: 50rem;
  //   padding-bottom: 2rem;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  transition: border 0.3s ease;
  background-color: #f9fafb;
}

.input:focus,
.textarea:focus,
.select:focus {
  border-color: #4198de;
  outline: none;
}

.textarea {
  resize: vertical;
  min-height: 8rem;
  font: 1em sans-serif;
  width: 100%;
  margin-top: 0.5rem;
  padding: 1rem;
  padding-right: 50rem;
  //   padding-bottom: 2rem;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  transition: border 0.3s ease;
  background-color: #f9fafb;
}

.row {
  display: flex;
  gap: 2rem;
}

.column {
  flex: 1;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.cancel {
  background-color: white;
  color: #333;
  border: 1px solid #ccc;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.submit {
  background-color: #4198de;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.submit:hover {
  background-color: #3984c3;
}



.cancel:hover {
  background-color: rgb(198, 198, 198);
  color: rgb(35, 35, 35);
  border: 1px solid #ccc;
}

.container h1 {
  text-align: center;
  //   margin-top: -10px;
  padding-bottom: 3px;
}

.select {
  width: 100%;
  margin-top: 0.5rem;
  padding: 1rem;
  //  padding-right: 50rem;
  //   padding-bottom: 2rem;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  transition: border 0.3s ease;
  background-color: #f9fafb;
}