/* signup.module.scss */
.centerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f4f8; // optional
  padding: 2rem;
}

.container {
  background-color: #fff;
  color: #555;
  max-width: 40rem;
  width: 100%;
  padding: 3rem 4rem;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transform: scale(0.88);
  transform-origin: top center;
}
.container h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 2rem;
}

.smallForm {
  text-align: left;
}

.error {
  color: #e63946;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.row {
  display: flex;
  gap: 1rem;
}

.halfInput {
  flex: 1;
}

.select {
  background-color: #f9fafb;
}

.loginMsg {
  padding-top: 0.5rem;
  text-align: center;
  font-size: 1.4rem;
  color: #555;
  
}
.loginMsg a {
  cursor: pointer;
  
}
