.footer {
  display: flex;
  bottom: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0077cc;
  color: white;
  margin: 0;
  position: fixed;
}
.copy {
  color: aliceblue;
}
.socials {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
  margin-bottom: 1rem;

  a {
    color: white;
    font-size: 2rem;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.copy {
  font-size: 1.4rem;
}
