.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  min-height: 100vh;
//   background-color: #f8f9fa;
}

// .landingImage {
//   width: 100%;
//   max-width: 600px;
//   height: auto;
//   border-radius: 1rem;
//   margin-bottom: 2rem;
//   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
// }

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #333;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
}

.primaryButton, .secondaryButton {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: fit-content;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.primaryButton {
  background-color: #0077cc;
  color: white;
  width: fit-content;
  font-size: 20px;

  &:hover {
    background-color: #005fa3;
  }
}

.secondaryButton {
  background-color: white;
  color: #0077cc;
  border: 2px solid #0077cc;
  font-size: 20px;

  &:hover {
    background-color: #f0f8ff;
  }
}